@import "reset.css";
body
{
	background-image: url("images/bk.jpg");
	background-size: cover;
	display: flex;
	font-family: 'Rubik', sans-serif;
	justify-content: center;
	margin-top: 280px;
}
.typewriter h1
{
	animation: typing 3.5s steps(30, end),
 blink-caret .5s step-end infinite;
	border-right: .15em solid blue;
	color: pink;
	font-size: 24pt;
	margin: 0 auto;
	overflow: hidden;
	white-space: nowrap;
}
@keyframes typing
{
	from
	{
		width: 0;
	}
	to
	{
		width: 100%;
	}
}
@keyframes blink-caret
{
	from, to
	{
		border-color: transparent;
	}
	50%
	{
		border-color: blue;
	}
}
.typewriter p
{
	animation: showDiv 3.6s forwards;
	background-image: linear-gradient(to right, pink 0%, #9EEFE1 51%, blue 100%);
	background-size: 200% auto;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	color: #303030;
	font-weight: bold;
	letter-spacing: 2px;
	margin-bottom: 50px;
	margin-top: 20px;
	outline: none;
	padding: 20px 200px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
}
p:hover
{
	background-position: center;
}
@keyframes showDiv
{
	0%,
	 99%
	{
		opacity: 0;
	}
	100%
	{
		opacity: 100;
	}
}
.bottom a
{
	background-image: linear-gradient(to right, pink 0%, #9EEFE1 51%, blue 100%);
	background-size: 200% auto;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	color: #303030;
	font-weight: bold;
	letter-spacing: 2px;
	outline: none;
	padding: 20px 200px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .5s;
}
a:hover
{
	background-position: center;
}
